.help-container {
    display: flex;
    max-width: 75%;
    margin: auto;
    margin-top: 17vh;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.help-container h1 {
    text-align: center;
    color: #557D71;
    font-size: 1.8rem;
    font-weight: bold;
}

.help-container p{
    text-align: center;
    width: 90%;
}

.option-label {
    display: flex;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    color: #557D71;
    margin-top: 3rem;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 81%;
}

.first-name, .last-name {
    width: 48%; /* Adjust the width to leave some gap between input fields */
}

.first-name {
    margin-right: 2%; /* Add a margin to the right of the "First Name" input */
}

.first-last {
    display: flex;
    flex-direction: row;
    justify-self: space-around;
    margin-top: 2px;
    width: 80%;
}

.contact-email{
    display: flex;
    width: 80%;
}

.contact-email input {
    width: 99%; /* Adjust the width to center the "Contact Email" input */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.message {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}



.help-container .first-last input{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.help-container textarea{
    display: flex;
    align-items: center;
    width: 81%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    margin: 0 auto;
}

.help-container input:focus, 
textarea:focus {
    border-color: #00aaff;
}

.help-container textarea {
    height: 100px;
    resize: none;
}

.submit {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    width: 20%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}
