body {
    background-color: #F9FFF8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #89A181;
    height: 50px;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#main-title {
    color: #53775F;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 36px;
}

#sub-title {
    color: #000000;
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 14px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #F9FFF8;
    margin: 0 auto;
}

th, td {
    padding: 5px;
    text-align: center;
}

.highlighted {
    background-color: #FFE9E9;
}

th {
    background-color: #89A181;
    color: white;
}

th:first-child, td:first-child {
    font-weight: normal;
}

th:first-child {
    font-weight: bold;
}
