<!-- base is a symbolic link to the base in core -->
{% extends 'base.html' %}

{% block title %} Add Booking {% endblock %}

{% block content %}
    <center>
        <h1>Add Booking</h1>
        <br/><br/>

        {% if submitted %}
            Booking Made Successfully
        {% else %}
        
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-primary submit_button">
        </form>
    

        <style>
            .submit_button {
              background-color: white; /* Set the initial background color to white */
              color: #000; /* Set the initial text color */
              transition: background-color 0.3s, color 0.3s; /* Add a smooth transition */
            }
          
            .submit_button:hover {
              background-color: #007bff; /* Change the background color on hover */
              color: #fff; /* Change the text color on hover */
            }
          </style>
          
          {% endif %}
    </center>
{% endblock %}
