body {
    background-color: #F9FFF8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #89A181;
    height: 50px;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

#main-title {
    color: #53775F;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 36px;
}

#sub-title {
    color: #000000;
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 14px;
}

table {
    width: 100%;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #F9FFF8;
    margin: 0 auto;
    margin-bottom: 100px;

}

th, td {
    padding: 5px;
    text-align: center;
    min-width: 150px;
}

.highlighted {
    background-color: #FFE9E9;
}

th {
    background-color: #89A181;
    color: white;
}

th:first-child, td:first-child {
    font-weight: normal;
}

th:first-child {
    font-weight: bold;
}

.table-wrapper {
    margin: 0 auto;
    width: 80%;
}

tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-control {
    font-size: 16px;
}

.booking-control a {
    text-decoration: none;
    color: #53775F;
    font-size: 16px;
}

.booking-control a:before {
    content: '+ ';
    font-weight: bold;
}

.booked {
    background-color: #8B0000;
}

.create-booking {
    background-color: #cfe5cb;
    border: 2px solid #000000;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.booking-control button:hover {
    background-color: #89A181;
}

.date-control button {
    background-color: #cfe5cb;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 1.5px 5px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.date-control button:hover {
    background-color: #89A181;
}

