

.card {
    width: 70%; /* You can adjust this value to your preference */
    margin: 0 auto; /* This centers the card horizontally */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-height: 100vh;
  }
  
  .text-wrapper {
    background-color: #89a181;
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
  }
  
  .span{
    margin-top: 3%;
  }
  
 
  
  .text-wrapper-2 {
    margin-left: 8px;
  }
  
  .text-wrapper-3 {
    color: #89a181;
    font-weight: bold;
    cursor: pointer;
  }
  
