.annoucement-container {
  max-width: 75%;
  margin: auto;
  margin-top: 15vh;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 100%;
}

.annoucement-card {
  width: 100%;
  margin-top: 15px;
}

.page-title {
  text-align: center;
  color: #557D71;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.annoucement-container textarea:focus {
  border-color: #00aaff;
}

.annoucement-title {
  margin-top: 5%;
  color: #557D71;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.annoucement-notes {
  width: 80%;
  margin: auto;
}

.annoucement-notes textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.make-annoucement {
  width: 80%;
  margin: auto;
  text-align: center;
}

.make-annoucement select {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-bottom: 15px;
}

.confirm-booking {
  margin-top: 20px;
  background-color: #557D71;
  color: white;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .annoucement-card {
    width: calc(100% - 20px);
  }
}

